<div appGridContainer flexDirection="column" padding="20px 32px 0px 32px" gap="24px" height="100%">

    <ng-container *ngComponentOutlet="headerNode; inputs: headerContent"></ng-container>

    <div appGridContainer gap="24px">
        <mat-card appGridItem class="summary-card" flex="7">
            <ng-container
                *ngComponentOutlet="summaryCardContentNode;"></ng-container>
        </mat-card>
        <mat-card appGridItem alignSelf="stretch" flex="3">
            <ng-container
                *ngComponentOutlet="quickAccessCardContentNode;"></ng-container>
        </mat-card>
    </div>

    <div appGridContainer height="60%">
        <mat-card appGridItem alignSelf="stretch">
            <ng-container *ngComponentOutlet=" mainCardContentNode"></ng-container>
        </mat-card>
    </div>
</div>