/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: black;
}


.text_24_bold {
    font-size: 24px;
    font-weight: 700;
}

.logo {
    height: 28px;
}

.error-snack {
    background-color: rgb(182, 74, 74);
}

.success-snack {
    background-color: #02be6e;
}

.dialog-box .mat-dialog-container {
    padding: 24px;
}